* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eff3f3;
    color: #333;
}

#main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #116d74;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}   
#main h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #eeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}